{% extends 'app/base.html'%} 

{% load static%}

{% block contenido %}
{% load crispy_forms_tags %}
<br> <br>
<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
            <h5>Contactanos<h5>
        <hr>
        <form action="" class="formulario_contacto" method="POST">
        {% csrf_token %} 
        {{form | crispy}}

        <hr>
        <div >
        <button type="reset" value="Cancelar" class="btn btn-secondary">Cancelar</button> 
        &nbsp;
        <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
        <div>
        
        </form>
        {{mensaje}}
      </div>
    </div>
        
  </div>
<div>

<table id="tablacontactos"></table>
{% endblock %}
